@using System.Collections
@using LibraryMVC.Models.View

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@model List<BookViewModel>


<form id="searchForm">
    <input type="text" id="Keyword" name="keyword" placeholder="Search by keyword" />
    <button type="submit">Search</button>
</form>

<table class="table">
    <tr>
        <th>Book Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Category</th>
        <th>Release Date</th>
    </tr>
    <div id="bookList">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookName</td>
            <td>@item.AuthorName</td>
            <td>@item.BookPrice</td>
            <td>@item.CategoryName</td>
           <td>@item.RealaseDate.ToString("yyyy-MM-dd")</td> 
        </tr>
    }
    </div>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchForm").on("submit", function (e) {
                e.preventDefault();
                var keyword = $("#keyword").val();

                $.ajax({
                    url: '@Url.Action("Index", "Books")',
                    type: 'GET',
                    data: { Keyword: keyword },
                    success: function (data) {
                        $("#bookList").html($(data).find("#bookList").html());
                    },
                    error: function () {
                        alert("An error occurred while processing your request. Please try again.");
                    }
                });
            });
        });
    </script>
}