@using System.Collections
@using LibraryMVC.Models.View

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@model List<BookViewModel>


<form method="get" action="@Url.Action("Index")">
    <p>
        Search by name, author or category:
        <input type="text" name="Keyword" value="@Request.QueryString["Keyword"]" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <tr>
        <th>Book Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Category</th>
        <th>Release Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookName</td>
            <td>@item.AuthorName</td>
            <td>@item.BookPrice</td>
            <td>@item.CategoryName</td>
           <td>@item.RealaseDate.ToString("yyyy-MM-dd")</td> 
        </tr>
    }
</table>
